<table class="list">
  <tr>
  	<th>&nbsp;</th>
    <th>Pool</th>
    <th>Name</th>
	<th>Description</th>
	<th>&nbsp;</th>
  </tr>

<% for pool in pools %>
  <%= hidden_field_tag("pool_id[#{pool.id}]", '0')%>
  <tr>
  	<td><%= check_box_tag("pool_id[#{pool.id}]", '1', (@checked_pool_ids.nil? ? nil : @checked_pool_ids.include?(pool.id.to_s))) %></td>
    <td><%=h pool.tube_label %></td>
    <td><%=h pool.pool_name %></td>
	<td><%=h pool.pool_description %></td>
    <td><%= link_to 'Show', pool %></td>
  </tr>
<% end %>
</table>
