<h1>Listing <%= @synth_oligos.size %> Oligos for Pool</h1>

<% form_for @pool, :action => :create do |f| %>
  <%=f.error_messages %>
  <%= render :partial => 'pool_form', :locals => {:f => f} %>
  <%= break_clear %>
  
  <span class="notes"> Check oligos below, to include in pool</span>&nbsp;&nbsp;&nbsp;<%= f.submit 'Create Pool' %><br/>
  <%= check_box_tag("checkall", '1', @checked, {:onclick => "checkUncheckAll(this);"}) %>
  <span style="font-size:90%">Check/Uncheck All Oligos</span><br/><br/>

<%= render :partial => 'synth_oligos/list_oligos', :locals => {:synth_oligos => @synth_oligos,
                                                               :checkbox => true, :checked => @checked} %>

<% end %>