<h1>Listing Existing Pools, Plates for New Pool</h1>

<% form_for @pool, :action => :create do |f| %>
  <%=f.error_messages %>
  <%= render :partial => 'pool_form', :locals => {:f => f} %>
  <%= break_clear %>
  
  <span class="notes"> Check boxes below, to include existing pools, plates or oligos in new pool</span><br/>
  <%= check_box_tag("checkall", '1', @checked, {:onclick => "checkUncheckAll(this);"}) %>
  <span style="font-size:90%">Check/Uncheck All</span>&nbsp;&nbsp;&nbsp;
  <%= f.submit 'Create Pool' %><br/>
  <br/>

  <% if !@current_pools.nil? %>
    <%= render :partial => 'list_pools', :locals => {:pools => @current_pools} %>
  <% end %>
  
  <% if !@current_plates.nil? %>
    <%= render :partial => 'list_plates', :locals => {:plate_tubes => @current_plates} %>
  <% end %>
  
  <% if !@plate_positions.nil? %>
    <%= render :partial => 'list_oligos', :locals => {:plate_positions => @plate_positions} %>
  <% end %>

<% end %>