<h1>Create new pool - Select parameters</h1>

<%= form_tag({:action => :list_for_pool}, :method => :get) do %>
<%= render :partial => 'pool_from_pools' %>
<%= raw break_clear('<br/>-AND/OR-<br/>')%>
<%= render :partial => 'pool_from_plates' %>
<%= raw break_clear('<br/>-AND/OR-<br/>')%>
<%= render :partial => 'pool_from_cherrypick' %>

<%= raw break_clear(submit_tag "Submit")%>
<%end%>

