<h1>Details for Pool: <%=h [@pool.tube_label, @pool.pool_name].join('/') %></h1>

<table class="list">
  <tr>
	<th>Pool Name</th>
	<th>Description</th>
	<th>Source Conc(um)</th>
	<th>Room/Shelf/Box/Bin</th>
  </tr>
  <tr>
    <td><%=h @pool.pool_name %></td>
	<td><%=h @pool.pool_description %></td>
  	<td><%=h @pool.source_conc_um %></td>
	<td><% if @pool.storage_location %><%=h @pool.storage_location.location_string %><% end %></td>
  </tr>
  <% if !@pool.notes.blank? %>
  <tr>
  	<td colspan="4"><strong><em>Notes:&nbsp;&nbsp;</em></strong><%=h @pool.notes %></td>
  </tr>
  <% end %>
 </table>
 
 <table class="list">
  <tr><th>Total Oligos:</th><td><strong><%=h @pool.total_oligos %></strong> 
  <% if @pool.cherrypick_oligos > 0 %>&nbsp;(Cherrypick: <%=h @pool.cherrypick_oligos %>)<% end %></td></tr>
  
  <% if @from_pools %>
    <tr><th>From Pool(s):</th><td><%=h @from_pools.join(', ')%></td></tr>
  <% end %>
  
  <% if @from_plates %>
    <tr><th>From Plate/Tube(s):</th><td><%=h @from_plates.join(', ')%></td></tr>
  <% end %>
 </table>
 
 <div id="oligo_div_links">
   <%=link_to 'Edit', edit_pool_path(@pool) %> |
   <%=link_to("Show Oligos", get_oligos_path(:id => @pool.id), :onclick => "showHideDiv('oligo_div_links','oligo_div'); return false;") %> 
 </div>
 
 <div id="oligo_div" style="visibility:hidden">
   <%= render :partial => 'show_oligos', :locals => {:pool => @pool}  %>  
 </div>

