<h3>Query Synthesized Oligos</h3>

<% form_tag({:action => :index}, :method => :get) do %>
<table>
  <tr>
    <th>Plate Number: </th><td>M<%= text_field_tag(:plate_from, @min_plate, :size => 4) %></td>
    <th>To:</th><td>M<%= text_field_tag(:plate_to, @max_plate, :size => 4) %></td>
  </tr>
  <tr><td class="notes">OR</td></tr> 
  <tr>
    <th>Date From:</th><td><%=calendar_date_select_tag(:date_from, @min_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
	<th>To:</th><td><%=calendar_date_select_tag(:date_to, @max_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15)%></td>
  </tr>	
</table>

<p><%= submit_tag "Submit"  %></p>
<%end%>

