<table class="border">
  	<tr>
  	  <th><%= f.label :room_nr %></th>
	  <td><%= f.text_field :room_nr %></td>
  	</tr>
	
	<tr>
  	  <th><%= f.label :shelf_nr %></th>
	  <td><%= f.text_field :shelf_nr %></td>
  	</tr>
	
	<tr>
  	  <th><%= f.label :bin_nr %></th>
	  <td><%= f.text_field :bin_nr %></td>
  	</tr>
	
	<tr>
  	  <th><%= f.label :box_nr %></th>
	  <td><%= f.text_field :box_nr %></td>
  	</tr>
  </table>