<h3>Oligo Design query - Select parameters</h3>

<% form_tag :action => 'list_selected', :param_type => 'proj_gene' do %>

<table>	
  <tr>
    <th>Project:</th><td><%=@project.project_name%></td>
	<%= hidden_field_tag("project[project_id]", @project.id)%>
  </tr>
  
  <%= render :partial => 'shared/proj_genes', :locals => {:multiple_versions => false} %> 
  <%= render :partial => 'shared/exclude_flagged' %>
  
</table>

<p><%= submit_tag "Submit" %></p>
<%end%>
