<h1>Listing Oligo Synthesis Plates/Tubes</h1>

<table class="list">
  <tr>
    <th>Plate/Tube Name</th>
    <th>Description</th>
	<th>Synthesis Date</th>
	<th colspan="2">&nbsp;</th>
  </tr>

<% for plate in @plate_tubes %>
  <tr>
    <td><%=h plate.plate_or_tube_name %></td>
    <td><%=h plate.description %></td>
	<td><%=h plate.synthesis_date %></td>
    <td><%= link_to 'Show Oligos', plate %></td>
	<td><%= link_to 'Edit', edit_plate_tube_path(plate) %></td>
  </tr>
<% end %>
</table>
