<h1>Listing Oligos for Plate#: <%=h @plate_tube.plate_or_tube_name %></h1>

<table class="list">
  <tr>
    <th>Oligo name (chars 1-50)</th>
    <th>Oligo type</th>
	<th>Sequence Ordered (bases 1-40) </th>
	<th>Well#</th>
	<th>Notes</th>
	<th>&nbsp;</th>
  </tr>

<% for plate_position in @plate_tube.plate_positions %>
<% for synth_oligo in plate_position.synth_oligos %>
  <tr>
    <td><%=h synth_oligo.oligo_name[0,49] %></td>
    <td><%=h synth_oligo.oligo_usage_descr %></td>
	<td><%=h synth_oligo.sequence[0,39] %></td>
	<td><%=h plate_position.well_coord %></td>
	<td><%=h synth_oligo.notes %></td>
    <td><%= link_to 'Show', synth_oligo %></td>
  </tr>
<% end %>
<% end %>
</table>