<h1>Details for <%=h @plate_tube.plate_or_tube %>#: <%=h @plate_tube.plate_or_tube_name %></h1>

<table class="list">
  <tr>
    <th>Plate/Tube</th>
    <th>Description</th>
	<th>Synthesis Date</th>
	<th>Total Oligos</th>
	<th colspan="2">&nbsp;</th>
  </tr>
  <tr>
  	<td style="text-align: center"><%=h @plate_tube.plate_or_tube_name %></td>
	<td><%=h @plate_tube.description %></td>
	<td><%=h @plate_tube.synthesis_date %></td>
	<td style="text-align: center"><%=h @plate_tube.total_oligos %></td>
	<td><%= link_to 'Show Oligos', show_oligos_path(:id => @plate_tube.id) %></td>
	<td><%= link_to 'Edit', edit_plate_tube_path(@plate_tube) %></td>
  </tr>
  <tr>
  	<td>&nbsp;</td>
  	<td colspan="3"><em><strong>Notes: </strong><%=h @plate_tube.notes%></em></td>
  </tr>
</table>