<h1>New vector</h1>

<%= form_for(@vector) do |f| %>
<% @vector.errors.full_messages.each do |msg| %>
    <p>Error: <%= msg %></p>
<% end %>

  <%= render :partial => 'vector', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', vectors_path %>
